*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(images/722683.jpg.jpg);
    background-image: cover;
}
.form{

    position: absolute;
    left: 40%;
}
h2{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color:white;
    padding-right: 380px;
}
.vv{
    font-size: 30px;
    margin: 15px 0;
    padding-right: 270px;
}
.vv input{
    font-size:20px;
    padding: 5px 5px;
}
.vv select{
    font-size: 20px;
    padding: 5px 5px;
}

button{
    font-size: large;
    border-radius: 20px;
    padding: 12px;
    margin-left: 240px;
}
button:hover{
    color: blue;
    background-color: brown;
}